
/*메인 슬라이더*/
#slider{width: 1180px; height: 700px; margin: 0 auto; padding-top: 70px;}
.slider1{width: 1180px; height: 660px; margin: 0 auto; }
.slider2{width: 1180px; height: 660px; margin: 0 auto; display: none;}
.slider2 img{width: 1180px; height: 660px; margin: -8px 0 0 0;}
.slider3{width: 1180px; height: 660px; margin: 0 auto; display: none;}
/* 슬라이더 버튼 */
.buttonMain{width: 280px; height: 70px; float: left;  position: absolute ;top:757px; margin: 0 0 0 0px;  }
.button1:hover{color: wheat; background-color: #999;}
.button2:hover{color: wheat; background-color: #999;}
button{width: 140px; height: 70px;float: left; background-color:whitesmoke ;font-weight: bold; font-size: 16px; border: 0; color: #777; padding: 5px; }
.button1{margin-right: 0px; border-top-left-radius: 5px; border-bottom-left-radius: 5px; font-family: 'Akshar', sans-serif;  }
.button2{border-top-right-radius: 5px; border-bottom-right-radius: 5px; font-family: 'Akshar', sans-serif; }

/*3번째 레이아웃*/
.main1{width: 1180px; height: 930px; margin: 0 auto;}
.chuck{width: 578px; height: 384px; float: left; }
.vans{width: 578px; height: 384px; float: left; margin: 0 0 0 24px;}
.airforce{width:270px ; height: 494px; float: left; margin: 20px auto; background-color: beige;}

/* 3번째 레이아웃 */
.ThreePostMain{width: 270px; height: 494px; float: left; margin: 20px 25px 0 36px; }
.ThreePost{width: 270px; height: 390px; float: left; margin: 0 auto;  background-color:#ededed;}  
.ThreePost img{width: 240px; height: 400px; margin: 0 0 0 20px;}


.ThreePostMain2{width: 260px; height: 494px; float: left; margin: 20px 30px 0 4px; }
.ThreePost2{width: 270px; height: 390px; float: left; margin: 0 auto;  background-color:#f9f9f9;}  
.ThreePost2 img{width: 240px; height: 400px; margin: 0 0 0 20px;}

.ThreePostMain3{width: 270px; height: 494px; float: left; margin: 20px 0 0 0; }
.ThreePost3{width: 270px; height: 390px; float: left; margin: 0 10px 0 15px; background-color:#eeeeee;}  
.ThreePost3 img{width: 250px; height: 400px; margin: 0 0 0 10px;}

.SoldOut{width: 270px; height: 390px; opacity: 0.7; background-color: #333;
        position: absolute; margin: -478px 0 0 0; font-size: 40PX;
         color: white;text-align: center; display: none;} 
.SoldOut2{width: 270px; height: 390px; opacity: 0.7; background-color: #333;
            position: absolute; margin: -478px 0 0 0; font-size: 40PX; color: white;
            text-align: center; display: none; } 
.SoldOut3{width: 270px; height: 390px; opacity: 0.7; background-color: #333;
            position: absolute;  font-size: 40PX; color: white;
            text-align: center;margin: -478px 0 0 0; display:none ;} 

/* 3번째 레이아웃 상품 정보통일 */
.brand{font-size: 19px; font-family:""; font-weight: bold; }
.name{font-family: "굴림"; font-size:18px ;}
.price{font-size: 19px; font-weight: bold;}

/* 브랜드로고 */
.Logo{width: 1180px; height: 130px;  margin: 0 auto; } 
.Logo img{margin: 0px 30px 0 30px; float: left;}

/* 4번째 상품 레이아웃 */
.Main2{width: 1180px; height: 520px; margin: 0 auto;}

.FourMain1{width: 270px; height: 494px; float: left; margin: 20px 0 0 0px;}
.FourPost{width: 270px; height: 390px; float: left; margin: 0 auto;  background-color:#ededed;}  
.FourPost img{width: 260px; height: 340px; margin: 50px 0 5px 5px;}

.FourMain2{width: 270px; height: 494px; float: left; margin: 20px 0 0 36px;}
.FourPost2{width: 270px; height: 390px; float: left; margin: 0 auto;  background-color:#ededed;}  
.FourPost2 img{width: 270px; height: 300px; margin: 70px 0 30px 7px;}

.FourMain3{width: 270px; height: 494px; float: left; margin: 20px 23px 0 36px; }
.FourPost3{width: 270px; height: 390px; float: left; margin: 0 auto;  background-color:#ededed;}  
.FourPost3 img{width: 270px; height: 360px; margin: 40px 0 0 20px;}

.FourMain4{width: 270px; height: 494px; float: left; margin: 20px 0 0 0px; }
.FourPost4{width: 270px; height: 390px; float: left; margin: 0 auto;  background-color:#ededed;}  
.FourPost4 img{width: 240px; height: 400px; margin: 0 0 0 20px;}

/* 메인3번 */
.Main3{width: 1180px; height: 600px; margin: 0 auto; }
.Main3 img{max-width: 100%; max-height: 100%;} 

/* 메인4번 TOP RATING */
.Main4{width: 1180px; height: 850px; margin: 0 auto; }
.RATING{margin:50px 0 0 30px; font-size: 40px;  font-weight: bold;}
.info{margin: 50px 0 0 0; }

.RatingPost1{width: 300px; height: 200px; border: 4px solid #999;}
.RatingPost1{border: 3px solid #999; float: left; margin: 30px;}
.RatingPost1 img{margin: 30px 0 0 25px;}


.RatingPost2{width: 300px; height: 200px; border: 4px solid #999;}
.RatingPost2{border: 3px solid #999; float: left; margin: 30px;}
.RatingPost2 img{margin: 30px 0 0 25px;}

.RatingPost3{width: 300px; height: 200px; border: 4px solid #999;}
.RatingPost3{border: 3px solid #999; float: left; margin: 30px;}
.RatingPost3 img{margin: -40px 0 0 20px;}
.RatingPost3 .info{margin: -20px 0 0 0;}

.RatingPost4{width: 300px; height: 200px; border: 4px solid #999;}
.RatingPost4{border: 3px solid #999; float: left; margin: 80px 30px 0 30px;}
.RatingPost4 img{margin: 25px 0 0 0;}

.RatingPost5{width: 300px; height: 200px; border: 4px solid #999;}
.RatingPost5{border: 3px solid #999; float: left; margin: 80px 30px 0 30px;}
.RatingPost5 img{margin: 30px 0 0 25px;}

.RatingPost6{width: 300px; height: 200px; border: 4px solid #999;}
.RatingPost6{border: 3px solid #999; float: left; margin: 80px 30px 0 30px;}
.RatingPost6 img{margin: -35px 0 0 25px;}
.RatingPost6 .info{margin: -20px 0 0 0;}

