img{max-width: 100%; max-height: 100%; }

#slider{width: 1250px; height: 1000px; margin: 0 auto; padding-top: 70px; display: flex; flex-direction: row;}
.box{width: 48%; height: 90%; margin: 10px;}

#slider .box .anotherImage{width: 600px; height: 120px; background-color:  rgb(218, 218, 218); display: flex; flex-direction: row;}
.imgbox2{background-color: aliceblue; margin: 3px;}
/* .imgbox2 img{transform: scale(1); }
.imgbox2 img:hover{transform: scale(1.2); } */
.imgbox2 img:hover{opacity: 0.5;}
* {font-family: 'NanumBarunGothic';}





#slider .box .name{font-size:30px; font-weight: bold;}
#slider .box .brand{font-size:15px; font-weight: bold;}
#slider .box .Ename{color: #999;}
#slider .box .price{color: red; font-size: 23px; font-weight: bold;}

#slider .box .styleColor{width: 600px; height: 100px;  display: flex; flex-direction: row;} 
.box2{width: 20%; height: 90%; margin: 5px;}
.styleColor > div:nth-child(1){text-align: center; line-height: 80px;  font-family: 'NanumBarunGothic'; font-weight: bold;}
/* .styleColor > div:nth-child(2){}
.styleColor > div:nth-child(3){}
.styleColor > div:nth-child(4){} */
.anotherImage{cursor: pointer; }
.anotherImage img{border: 1px solid #999;}

.info{width: 600px; height: 250px; display: flex;}
.info .box3:nth-child(1){flex-grow: 2; margin: 10px;font-size: 16px; font-weight: bolder;}
.info .box3:nth-child(2) {flex-grow: 3;margin: 10px; font-size: 14px;}


.size{width: 430px; height: 70px;}
/* .size .sizebox{width: 70px; height: 50px; text-align: center; vertical-align: middle; margin: 3px; float: left; background-color: red;} */
.size button{width: 50px;height: 30px; background-color: white;  margin: 4px; cursor: pointer; }

#box4{width: 600px; height: 300px;  float: left;  }


/* 수량버튼  */
#sulyang{width: 600px; height: 60px; background-color:white; margin: 5px 0 0 0; font-family: 'NanumBarunGothic' ; font-weight: 900;}
#sulyang > div{width: 620px; height: 30px;display: none; background-color: white; float: left;}

#sulyang .size220 { width: 600px; height: 30px; border-bottom:  solid #999 1px;}
#sulyang .size220 > div:nth-child(1){ float: left; width: 50px; height: 30px; }
#sulyang .size220 > div:nth-child(2){float: left;  width: 300px; height: 30px;}
#sulyang .size220 > div:nth-child(3){float: left;  width: 200px; height: 30px;}
#sulyang .size220 > div:nth-child(4){float: left; width: 50px; height: 30px; }

#sulyang .size225 { width: 600px; height: 30px; border-bottom:  solid #999 1px;}
#sulyang .size225 > div:nth-child(1){float: left; width: 50px; height: 30px; }
#sulyang .size225 > div:nth-child(2){float: left;  width: 300px; height: 30px;}
#sulyang .size225 > div:nth-child(3){float: left;  width: 200px; height: 30px;}
#sulyang .size225 > div:nth-child(4){float: left; width: 50px; height: 30px; }

#sulyang .size230 { width: 600px; height: 30px; border-bottom:  solid #999 1px;}
#sulyang .size230 > div:nth-child(1){float: left; width: 50px; height: 30px; }
#sulyang .size230 > div:nth-child(2){float: left;  width: 300px; height: 30px;}
#sulyang .size230 > div:nth-child(3){float: left;  width: 200px; height: 30px;}
#sulyang .size230 > div:nth-child(4){float: left; width: 50px; height: 30px; }

#sulyang .size235 { width: 600px; height: 30px; border-bottom:  solid #999 1px;}
#sulyang .size235 > div:nth-child(1){float: left; width: 50px; height: 30px; }
#sulyang .size235 > div:nth-child(2){float: left;  width: 300px; height: 30px;}
#sulyang .size235 > div:nth-child(3){float: left;  width: 200px; height: 30px;}
#sulyang .size235 > div:nth-child(4){float: left; width: 50px; height: 30px; }

#sulyang .size240 { width: 600px; height: 30px; border-bottom:  solid #999 1px;}
#sulyang .size240 > div:nth-child(1){float: left; width: 50px; height: 30px; }
#sulyang .size240 > div:nth-child(2){float: left;  width: 300px; height: 30px;}
#sulyang .size240 > div:nth-child(3){float: left;  width: 200px; height: 30px;}
#sulyang .size240 > div:nth-child(4){float: left; width: 50px; height: 30px; }

#sulyang .size245 { width: 600px; height: 30px; border-bottom:  solid #999 1px;}
#sulyang .size245 > div:nth-child(1){float: left; width: 50px; height: 30px; }
#sulyang .size245 > div:nth-child(2){float: left;  width: 300px; height: 30px;}
#sulyang .size245 > div:nth-child(3){float: left;  width: 200px; height: 30px;}
#sulyang .size245 > div:nth-child(4){float: left; width: 50px; height: 30px; }

#sulyang .size250 { width: 600px; height: 30px; }
#sulyang .size250 > div:nth-child(1){float: left; width: 50px; height: 30px; }
#sulyang .size250 > div:nth-child(2){float: left;  width: 300px; height: 30px;}
#sulyang .size250 > div:nth-child(3){float: left;  width: 200px; height: 30px;}
#sulyang .size250 > div:nth-child(4){float: left; width: 50px; height: 30px; }

/* 수량추가버튼 */
.plusMinus2 button{width: 18px; height: 28px; text-align: center;cursor: pointer; background-color: white; border: 0ch;}


.plusMinus2{text-align: center;}
.cancle1{text-align: center; cursor: pointer;}
.plusMinusBox{width: 60px; height: 27px;  float: right;}
.pricemain1{text-align: center;}

.cancle2{text-align: center; cursor: pointer;}
.pricemain2{text-align: center;}

.cancle3{text-align: center; cursor: pointer;}
.pricemain3{text-align: center;}

.cancle4{text-align: center; cursor: pointer;}
.pricemain4{text-align: center;}

.cancle5{text-align: center; cursor: pointer;}
.pricemain5{text-align: center;}

.cancle6{text-align: center; cursor: pointer;}
.pricemain6{text-align: center;}

.cancle7{text-align: center; cursor: pointer;}
.pricemain7{text-align: center;}

#chongprice{width: 600px; height: 100px; display: flex; }
#chongprice .chongpriceBox:nth-child(1){flex-grow: 1; font-weight: bolder; margin: 15px;}
#chongprice .chongpriceBox:nth-child(2){flex-grow: 1; text-align: right; color: #999;}
#chongprice .lastPrice{color: red; font-size: 35px; margin: 0 5px 0 0 ; font-weight: 900;}

.btjangbaguni{width: 297PX; height: 70PX; font-weight: 900; font-size: 15px; border: 1px;}
.btbarogumae{width: 297pX; height: 70PX;font-weight: 900;font-size:15px; border: 1px;}

.btjangbaguni:hover{background-color: #888;}
.btbarogumae:hover{background-color: #888;}


#container1{ width: 1200px; height: 3500px; margin: 0 auto; }
.Detail ul li{width: 239PX; height: 30PX; background-color: white; float: left; padding: 0 10px; padding: 30px; font-size: 20px;vertical-align : middle; text-align: center;}
.Detail ul li:nth-child(1){border-left: 1px solid black; border-right: 1px solid; border-top: 1px solid black; }
.Detail ul li:nth-child(2){border-bottom: 1px solid black; background-color: rgb(218, 218, 218); cursor: pointer;}   
.Detail ul li:nth-child(3){border-bottom: 1px solid black;background-color: rgb(218, 218, 218); cursor: pointer;}   
.Detail ul li:nth-child(4){border-bottom: 1px solid black;background-color: rgb(218, 218, 218); cursor: pointer;}  
.Detail ul li:hover{opacity: 0.7;} 

#container1 img:nth-child(3){margin: 50px 0 0 120px;}
#container1 img:nth-child(4){margin: -4px 0 0 120px;}
#container1 img:nth-child(5){margin: -4px 0 0 120px;}
#container1 img:nth-child(6){margin: -4px 0 0 120px;}

#container2{width: 1200px; height: 2000px;  margin: 0 auto; }

.review ul li{width: 239PX; height: 30PX; background-color: white; float: left; padding: 30px; font-size: 20px;vertical-align : middle; text-align: center;}
.review ul li:nth-child(3){border-left: 1px solid black; border-right: 1px solid; border-top: 1px solid black; }
.review ul li:nth-child(4){border-bottom: 1px solid black; background-color: rgb(218, 218, 218); cursor: pointer;}   
.review ul li:nth-child(5){border-bottom: 1px solid black;background-color: rgb(218, 218, 218); cursor: pointer;}   
.review ul li:nth-child(2){border-bottom: 1px solid black;background-color: rgb(218, 218, 218); cursor: pointer;}  
.review ul li:hover{opacity: 0.7;} 

table{width: 100%;   font-size: 15px; border-collapse: collapse; }
table td{width: 400px; border-bottom: 1px solid #999; padding: 19px; text-align: center; }

/* .container2 h1{font-size: 30px; font-weight: 700; margin: 0px 20px 30px 20px; } */

#container3{margin: 150px 0 0 0;}
.qa ul li{width: 239PX; height: 30PX; background-color: white; float: left;  padding: 30px; font-size: 20px;vertical-align : middle; text-align: center;}
.qa ul li:nth-child(4){border-left: 1px solid black; border-right: 1px solid; border-top: 1px solid black; }
.qa ul li:nth-child(2){border-bottom: 1px solid black; background-color: rgb(218, 218, 218); cursor: pointer;}   
.qa ul li:nth-child(3){border-bottom: 1px solid black;background-color: rgb(218, 218, 218); cursor: pointer;}   
.qa ul li:nth-child(5){border-bottom: 1px solid black;background-color: rgb(218, 218, 218); cursor: pointer;}  
.qa ul li:hover{opacity: 0.7;} 


#container4{height: 750px;}
.as ul li{width: 239PX; height: 30PX; background-color: white; float: left;  padding: 30px; font-size: 20px;vertical-align : middle; text-align: center;}
.as ul li:nth-child(4){border-left: 1px solid black; border-right: 1px solid; border-top: 1px solid black; }
.as ul li:nth-child(2){border-bottom: 1px solid black; background-color: rgb(218, 218, 218); cursor: pointer;}   
.as ul li:nth-child(1){border-bottom: 1px solid black;background-color: rgb(218, 218, 218); cursor: pointer;}   
.as ul li:nth-child(3){border-bottom: 1px solid black;background-color: rgb(218, 218, 218); cursor: pointer;}  
.as ul li:hover{opacity: 0.7;} 

.baesong{width: 100%; height: 100%; margin: 150px 0 0 0;}
.baesong1{float: left; width: 20%; height: 80%;  margin: 100px 0 0 50px;}
.baesong2{float: left; width: 60%; height: 80%;  margin: 50px 0 0 0;}

a{text-decoration: none; color: black;}



